<div class="row">
    <div class="col-sm-5 container">
        <h4 class="text-center">Add Products</h4>
        <form #frm="ngForm" (ngSubmit)="addProd(frm)">
            <div class="form-group">
                <label>Products ID:</label>
                <input type="text" class="form-control" name="prodId" placeholder="Enter Product ID" ngModel />
            </div>
            <div class="form-group">
                <label>Product Name:</label>
                <input type="text" class="form-control" name="prodName" placeholder="Enter Product Name" ngModel />
            </div>
            <div class="form-group">
                <label>Products Price:</label>
                <input type="text" class="form-control" name="prodPrice" placeholder="Enter Product Price" ngModel />
            </div>
            <div class="form-group">
                <label>Product Description:</label>
                <input type="text" class="form-control" name="prodDesc" placeholder="Enter Product Description" ngModel />
            </div>
            
            <div class="form-group">
                <label>Product Rating:</label>
               <select name="prodRating" class="form-control" ngModel>
                   <option value="">Select Rating</option>
                   <option *ngFor="let rate of ratings" [value]="rate">{{ rate }}</option>
               </select>
            </div>
            <div class="form-group">
               <button type="submit" class="btn btn-primary">Add Product</button>
            </div>
        </form>
        <!-- <p>{{ frm.value | json }}</p> -->
    </div>
</div>